html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000;
    
}

*{
    box-sizing: border-box;
}

nav{
    background: linear-gradient(90deg,#0286E6,#2F3DB0);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5em;
    
}

.nav-container li{
    display: inline;
    letter-spacing: 0.7px;
    margin: 0 1em;
    cursor: pointer;
}

li a{
    text-decoration: none;
    color: inherit;
}

main{
    margin: 10em  5em 0 5em;    
}

.main-container{
    display: flex;
    justify-content: space-between;
}

#text{
    font-size: xx-large;
    line-height: 1.5em;
    
}

#myName{
    font-weight: 600;
    color: #2F3DB0;
}

#img-computer{
    margin-right: -5em;
}

#btn-contact{
    background-color: transparent;
    border-color: #0286E6;
    border-style: solid;
    border-width: 2.4px;
    cursor: pointer;
    width: 200px;
    height: 45px;
    margin-top: 5em;
    font-size: 16px; 
    transition: background-color 0.5s;
}

#btn-contact:hover{
    background-color: #0286E6;
    color:#fff;
}

.text-about, .text-contact{
    line-height: 2em;
}

section{
    margin-top: 7em;
    z-index: 2;
}

span{
    font-size: 30px;
    
}

.service-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3em;
}

.service-container li{
    list-style: square;
    line-height: 2em;
}

#expertise{
    margin-left: 40%;
}

#about, #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact li{
    display: inline;
    margin-right: 30px;
}

p a{
    text-decoration: none;
}


